* {
    margin: 0;
}

body {
    display: grid;
    grid-gap: 24px;
    background: linear-gradient(0deg, #F0F0F0, #F0F0F0);
}

header {
    display: grid;
    height: 117px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    grid-gap: 8px;
    box-sizing: border-box;
    background: #222222;

    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
    color: #D3D3D3;
}

h1 {
    font-family: Arial;
    font-weight: 700;
    font-size: 32px;
    line-height: 51.2px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

main {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 24px;
    padding-right: 24px;
}

div {
    min-width: 300px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px #0000001A;

    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
}

img {
    width: 100%;
    height: 300px;
    min-height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

h3 {
    margin-top: 2px;
    padding: 8px;
    padding-left: 16px;
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
    line-height: 28.8px;
    color: #444444;
}

p {
    padding: 8px;
    padding-left: 16px;
}

footer {
    height: 58px;
    padding: 16px;
    background: #222222;
    box-sizing: border-box;

    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
    color: #FFFFFF;
}