body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 40px;
    margin: 0;
    padding-bottom: 40px;
    background: #F5F6FA;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 105px;
    padding-top: 36px;
    padding-bottom: 28px;
    background: linear-gradient(90deg, #E3F0FF 0%, #F5E9FF 100%);
    box-shadow: 0px 8px 24px 0px #7878B414;
    box-sizing: border-box;

    font-family: Arial;
    font-weight: 700;
    font-size: 35.2px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #273155;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32.39px;
    max-width: 1108px;
}

.item {
    width: 308.59px;
    height: 366px;
    left: 54.44px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 6px 24px 0px #1E285A1A;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308.59px;
    height: 180px;
    background: #E4E7EC;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

img {
    width: 85%;
    flex-grow: 0;
    flex-shrink: 0;
}

.pochemuto-small {
    width: 249.55px;
    height: 159.97999572753906;
}

.interaction-info-block {
    display: flex;
    flex-direction: column;
    width: 308.59px;
    height: 186px;
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
    gap: 10px;
    box-sizing: border-box;
}

.name {
    margin-bottom: 3px;
    font-family: Arial;
    font-weight: 700;
    font-size: 17.3px;
    line-height: 100%;
    color: #22314D;
}

.desc {
    font-family: Arial;
    font-weight: 400;
    font-size: 15.2px;
    line-height: 100%;
    color: #8898AA;
}

.price-info {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    gap: 11.94px;
    width: 268.59px;
    height: 24px;
}

.old-price {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: line-through;
    color: #B0BAC9;
}

.price {
    font-family: Arial;
    font-weight: 700;
    font-size: 20.8px;
    line-height: 100%;
    color: #E63946;
}

.discount {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    width: 60px;
    height: 25px;
    padding-top: 3px;
    padding-right: 11px;
    padding-bottom: 4px;
    padding-left: 11px;
    border-radius: 7px;
    background: #FECA57;

    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #B25B00;
    box-sizing: border-box;
}

.buy {
    margin-top: auto;
    width: 268.59px;
    height: 41px;
    padding-top: 11px;
    padding-right: 100.8px;
    padding-bottom: 12px;
    padding-left: 100.79px;
    border-radius: 7px;
    border: 0;
    background: linear-gradient(90deg, #38B6FF 0%, #5551F7 100%);
    box-shadow: 0px 2px 10px 0px #3C5AB91A;

    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}