@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --background-primary: #0A0A0A;
    --background-gradient-modern-primary: linear-gradient(120.38deg, #0EA5E9 0%, #4F46E5 50%, #C026D3 100%);
    --background-gradient-modern-secondary: linear-gradient(106.85deg, #FFFFFF 0%, #FCE7F3 100%);
    --background-modern: #FFFFFF1A;
    --border-modern: #FFFFFF33;
    --border-white: #FFFFFF4D;
    --text-primary: #FFFFFFE5;
    --text-secondary: #FFFFFFCC;
    --text-gradient-modern: linear-gradient(90deg, #FFFFFF 0%, #E0F2FE 50%, #FCE7F3 100%);
    --text-tertiary: #FFFFFFD9;
    --text-button-black: #171717;
    --text-button-white: #FFFFFFF2;
    --shadow-primary: #00000040;
    --hr-gray: #FFFFFF26;
}

body {
    margin: 0;
    width: 1920px;
    height: 1200px;
    min-height: 1200px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 725.81px;
    padding-left: 24px;
    background: var(--background-primary);
}

section[data-test-id="gradient-block"] {
    position: relative;
    width: 768px;
    height: 450.19px;
    max-width: 768px;
    border-radius: 24px;
    background: var(--background-gradient-modern-primary);
}

.block-acquaintance {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 688px;
    height: 20px;
    gap: 4.02px;
    top: 40px;
    left: 40px;
    padding-top: 3px;
}

.block-type {
    box-sizing: border-box;
    width: 40px;
    height: 25px;
    border-radius: 9999px;
    padding-top: 6px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-left: 11px;
    border-width: 1px;
    background: var(--background-modern);
    border: 1px solid var(--border-modern);
    backdrop-filter: blur(4px);

    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: var(--text-primary);
}

.block-explanation {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: var(--text-secondary);
}

h2[data-test-id="gradient-heading"] {
    margin: 0;
    position: absolute;
    top: 79.29px;
    left: 40px;
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: -0.6px;
    background-image: var(--text-gradient-modern);
    color: transparent;
    background-clip: text;
}

.block-desc {
    margin: 0;
    position: absolute;
    top: 211.19px;
    left: 40px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-tertiary);
}

.block-contact {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 688;
    height: 44;
    gap: 4.5px;
    top: 307.19px;
    left: 40px;
}

a[data-test-id="btn-primary"] {
    display: flex;
    box-sizing: border-box;
    width: 143px;
    height: 44px;
    border-radius: 12px;
    gap: 9.3px;
    padding-top: 14px;
    padding-right: 21px;
    padding-bottom: 13px;
    padding-left: 21px;
    border-width: 1px;
    background: var(--background-gradient-modern-secondary);
    border: 1px solid var(--border-modern);
    box-shadow: 0px 8px 30px 0px var(--shadow-primary);

    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-button-black);
}

.preview {
    box-sizing: border-box;
    width: 163px;
    height: 43px;
    border-radius: 12px;
    padding-top: 14px;
    padding-right: 21px;
    padding-bottom: 13px;
    padding-left: 21px;
    border-width: 1px;
    border: 1px solid var(--border-white);
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-button-white);
}

hr {
    position: absolute;
    margin: 0;
    width: 688px;
    top: 375.19px;
    left: 40px;
    border: 0;
    border-top: 1px solid var(--hr-gray);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 688px;
    height: 18px;
    top: 392.19px;
    left: 40px;
}

li {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-primary);
}