* {
	margin: 0;
}

.open {
	margin: 24px;
	width: 153px;
	height: 59px;
	border-radius: 3px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 21px;
	padding-left: 20px;
	background: #414B52;
	box-sizing: border-box;
	border: none;

	font-family: Arial;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: #FFFFFF;
}

.overlay {
	position: absolute;
	inset: 0;
	background: #00000080;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay[aria-hidden="true"] {
	visibility: hidden;
	opacity: 0;
}

.overlay[aria-hidden="false"] {
	visibility: visible;
	opacity: 1;
}

.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	align-items: center;
	width: 500px;
	height: 146px;
	max-width: 500px;
	border-radius: 8px;
	gap: 16px;
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 3px 10px -0.5px #00000033;
	box-sizing: border-box;
}

h4 {
	font-family: Arial;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
}

p {
	font-family: Arial;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	background: transparent;
	border: none;
}