@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    margin: 0;
    display: flex;
    gap: 36.4px;
    width: 1921px;
    height: 888px;
    padding: 24px;
    background-image: linear-gradient(0deg, #2C3E50, #2C3E50), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 71px;
    box-sizing: border-box;

    text-decoration: none;
    background-image: linear-gradient(90deg, #2dd4bf, #38bdf8);
    color: transparent;
    background-clip: text, border-box;

    font-family: Inter;
    font-weight: 700;
    font-size: 31.5px;
    line-height: 100%;
}

.button::before {
    content: "";
    position: absolute;
    padding: 2px;
    inset: 0;
    border-radius: 5px;
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask-composite: exclude;
}

.green {
    background-image: linear-gradient(73.73deg, #499BEA 0%, #1ABC9C 100%);
    width: 237px;
}

.green::before {
    background-image: linear-gradient(73.73deg, #499BEA 0%, #1ABC9C 100%);
}

.pink {
    background-image: linear-gradient(71.93deg, #E748EA 0%, #4B1ABC 100%);
    width: 212px;
}

.pink::before {
    background-image: linear-gradient(71.93deg, #E748EA 0%, #4B1ABC 100%);
}

.red {
    background-image: linear-gradient(71.35deg, #EA6E48 0%, #BC1A63 100%);
    width: 205px;
}

.red::before {
    background-image: linear-gradient(71.35deg, #EA6E48 0%, #BC1A63 100%);
}

.orange {
    background-image: linear-gradient(74.91deg, #FFC107 0%, #FF5722 100%);
    width: 256px;
}

.orange::before {
    background-image: linear-gradient(74.91deg, #FFC107 0%, #FF5722 100%);
}

.blue {
    background-image: linear-gradient(72.07deg, #0576FF 0%, #24F8FF 100%);
    width: 213px;
}

.blue::before {
    background-image: linear-gradient(72.07deg, #0576FF 0%, #24F8FF 100%);
}